<html lang='en' dir='ltr'>

  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <link rel='stylesheet' href='/style.css' type='text/css' />
    <!-- Primary Meta Tags -->
    <title>Alex Hinds, Web developer and designer</title>
    <meta name='title' content='Alex Hinds, Web developer and designer' />
    <meta
      name='description'
      content='Alex Hinds is a software engineer and former journalist with a passion for UX/UI, frontend engineering and web development.'
    />

    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://static.alhinds.com/' />
    <meta
      property='og:title'
      content='Alex Hinds, Web developer and designer'
    />
    <meta
      property='og:description'
      content='Alex Hinds is a software engineer and former journalist with a passion for UX/UI, frontend engineering and web development.'
    />
    <meta
      property='og:image'
      content='https://static.alhinds.com/og-image.png'
    />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content='https://static.alhinds.com/' />
    <meta
      property='twitter:title'
      content='Alex Hinds, Web developer and designer'
    />
    <meta
      property='twitter:description'
      content='Alex Hinds is a software engineer and former journalist with a passion for UX/UI, frontend engineering and web development.'
    />
    <meta
      property='twitter:image'
      content='https://static.alhinds.com/og-image.png'
    />

    <!-- Meta Tags Generated with https://metatags.io -->
  </head>

  <body>
    <header class='container'>
      <svg
        class='logo'
        width='100'
        height='100'
        viewBox='0 0 100 100'
        xmlns='http://www.w3.org/2000/svg'
      >
        <style>
          .text { fill: currentColor; font-family: -apple-system, sans-serif; }
        </style>
        <g stroke='currentColor'>
          <rect
            fill='none'
            stroke-width='3'
            x='0'
            y='0'
            width='100'
            height='100'
          ></rect>
          <text
            class='text'
            x='25'
            y='50'
            text-anchor='middle'
            alignment-baseline='central'
            scale='2'
          >A</text>
          <text
            class='text'
            x='75'
            y='50'
            text-anchor='middle'
            alignment-baseline='central'
            scale='2'
          >H</text>
          <line stroke-width='3' x1='50' y1='25' x2='50' y2='75'></line>
        </g>
      </svg>
      <h1>Alex Hinds</h1>
    </header>
    <main>
      <section class='column'>
        <div class='container left-column'>
          <section class='bio'>
            <h2 class='section-header'>About</h2>
            <p>I'm a software engineer and former journalist with a passion for
              UX/UI, frontend engineering and web development. I bring a unique
              set of skills and experience with nearly a decade in journalism,
              combined with a solid technical grounding in computer science and
              thrive at the intersection of design and engineering.</p>
          </section>
          <section class='bio'>
            <h2 class='section-header'>Education</h2>
            {{#each qualifications}}
              <article>
                <h3>{{this.course}}</h3>
                <p>{{this.provider}},
                  {{this.graduation_year}},
                  {{this.majors}}.</p>
              </article>
            {{/each}}
          </section>
          <section class='bio'>
            <h2 class='section-header'>Technical Skills</h2>
            <article id='code'>
              <p>
                I'm comfortable working in C, Java, JavaScript (Full Stack),
                Python, HTML and CSS. I've worked largely in a Unix/Linux
                environment, and have worked with React, Vue.js, React Native,
                Flask, Django, Express.js, and dabbled with other frameworks.
              </p>
              <p>For a more complete overview, please check out my
                <a href='https://github.com/DarkPurple141'>Github</a>
                or my
                <a href='https://alhinds.com'>personal website.</a></p>
            </article>
          </section>
        </div>
      </section>
      <section class='column'>
        <div class='container'>
          <h2 class='section-header'>Experience</h2>
          <section>
            {{#each jobs}}
              <article class='job'>
                <h3><a href='{{this.href}}'>{{this.company}}</a>,
                  {{this.title}},
                  {{this.start_date}}-{{this.end_date}}</h3>
                <p>{{this.description}}</p>
              </article>
            {{/each}}
            <article class='job'>
              <h3>Other notables</h3>
              <p>I'm an occassional OSS contributor, I've co-authored a book on
                the Tour de France, and have appeared on ABC radio, triple j.</p>
            </article>
          </section>
        </div>
      </section>
    </main>
    <footer class='container'>
      <address>
        <p class='footer-link'>phone.
          <a href='tel:+61411849217'>{{user.phone}}</a></p>
        <p class='footer-link'>email.
          <a href='mailto:alex.hinds141@gmail.com'>{{user.email}}</a></p>
        {{#each user.socials as |social|}}
          <p class='footer-link'>{{social.name}}.
            <a href='{{social.url}}'>{{social.username}}</a></p>
        {{/each}}
      </address>
      <p class='copyright'>© {{published_year}} Alex Hinds</p>
    </footer>
  </body>

</html>